.App {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 4rem auto;
  grid-template-areas: "content-header content-header" "content-aside content-main  ";
}
.content-main {
  grid-area: content-main;
  text-align: center;
  margin-top: 3em;
  -webkit-box-shadow: 8px 1px 41px -10px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 8px 1px 41px -10px rgba(0, 0, 0, 0.73);
  box-shadow: 8px 1px 41px -10px rgba(0, 0, 0, 0.73);
}
.content-aside {
  grid-area: content-aside;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5em;
  margin-top: 3em;
}
.content-header {
  display: flex;
  grid-area: content-header;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 8px 1px 41px -10px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 8px 1px 41px -10px rgba(0, 0, 0, 0.73);
  box-shadow: 8px 1px 41px -10px rgba(0, 0, 0, 0.73);
}
